extends layout

block content

    p SolReSol can represent langage in different forms

    h2 as a color
    img(src='/images/s_colors.png' alt='login')
    h2 as a sign
    img(src='/images/s_signes.png' alt='login')
    h2 as a sound
    img(src='/images/s_portee.png' alt='login')
    h2 as location on the hand
    img(src='/images/s_hand.png' alt='login')

    p So these word could be translated like this
    img(src='/images/s_mots.png' alt='login')